<div>
    <mat-dialog-content>
        <h2 class="title">Login</h2>
    </mat-dialog-content>
    <mat-dialog-actions>
        <form
            [formGroup]="loginDialogForm"
            (ngSubmit)="onSubmit()"
        >
            <label>Email:</label>
            <input formControlName="email" 
            type="email" 
            placeholder="Enter your email" 
            >
            <label>Password:</label>
            <input formControlName="password"
            type="password" 
            placeholder="Enter your password" 
            >
            <button 
            type="submit"
            mat-button
            [disabled]="loginDialogForm.invalid || loginDialogForm.disabled">Login
            </button>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button mat-dialog-close (click)="openDialogRegistration()">I dont have account</button>
        </form>
    </mat-dialog-actions>
</div>

