<div>
    <button mat-button mat-dialog-close></button>
    <mat-dialog-content>
        <h2 class="title">Login</h2>
    </mat-dialog-content>
    <mat-dialog-actions>
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
        >
            <label for="email">Email:</label>
            <input formControlName="email" 
            type="email" 
            placeholder="Enter your email" 
            >
            <label for="password">Password:</label>
            <input formControlName="password"
            type="password" 
            placeholder="Enter your password" 
            >
            <button 
            type="submit"
            [disabled]="form.invalid || form.disabled">Зарегистрироваться
            </button>
            <button type="submit" cdkFocusInitial mat-dialog-close mat-button>Sign in</button>
            <button mat-button [mat-dialog-close]="true" class="function-button">Cancel</button>
            <button mat-button mat-dialog-close (click)="openDialogRegistration()">I dont have account</button>
        </form>
    </mat-dialog-actions>
</div>

