<div>
    <mat-dialog-content>
        <h2 class="title">Registration</h2>
    </mat-dialog-content>
    <mat-dialog-actions>
        <form
            [formGroup]="regDialogForm"
            (ngSubmit)="onSubmit()"
        >
            <label for="email">Email:</label>
            <input formControlName="email" 
            type="email" 
            placeholder="Enter your email" 
            >
            <label>Password:</label>
            <input formControlName="password"
            type="password" 
            placeholder="Enter your password" 
            >
            <label> Repeat your password:</label>
            <input formControlName="repeatedPassword"
            type="password"
            placeholder="Repeat your password"
            >
            <button 
            type="submit"
            mat-button
            mat-dialog-close
            [disabled]="regDialogForm.invalid || regDialogForm.disabled">Register
            </button>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button mat-dialog-close (click)="openDialogLogin()">I have account</button>
        </form>
    </mat-dialog-actions>
</div>